@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="container" style="margin-top: 15vh;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Vítejte v aplikaci pro evidenci přihlášek</h2>
            <p class="mt-3">Vítejte v aplikaci určené pro podávání přihlášek na střední školy. Tato aplikace slouží k podávní správě podaných přihlášek na střední školy.</p>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Vytvoření přihlášky</h5>
                    <p class="card-text px-2">Tady můžete vyplnit a odeslat přihlášku na střední školu.</p>
                    <div class="text-center py-1">
                        <a href="#" class="btn btn-secondary btn-edit-custom">Vyplnit přihlášku</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Kontakt</h5>
                    <p class="card-text px-2">Zde najdete kontaktní informace pro podporu nebo další dotazy.</p>
                    <div class="text-center py-1">
                        <a href="#" class="btn btn-secondary btn-edit-custom">Kontaktovat nás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
